th{
	padding-right: 50px;
	text-align: left;
}


#gamecontainer {
	position: relative;
}

#gamecontainer h2 {
	position: absolute;
	display: inline-block;
	padding-left: 30px;
	bottom: 0;
}
.screenshot {
	display: inline-block;
	margin: 5px 5px 10px 0px;
}
.cover-image {
	display: inline-block;
}

.favorite{
	float: right;
}

#star{
	font-size: 250%;
	color: #FBB040;
}
