body {
    height: 100%;
    background-color: #E0E0E0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #00B7FF;
}

#container {
    display: flex;
}

#container > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

div#content {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    padding-bottom: 50px;
    display: flex;
    overflow: auto;
    min-height: 800px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#originalLogo {
    display: flex;
    justify-content: center;
}

#originalLogo img {
    height: 300px;
}


#navLogo {
    height: 55px;
}

.game-row {
    display: inline-flex;
}

.game-row a {
    display: inline-block;
    height: auto;
}

.game-row ul {
    list-style: none;
}
.game-row li {
    display: inline-block;
}

.game-box {
    border: 3px solid black;
    width: 156px;
    height: 206px;
    vertical-align: top;
    display: inline-block;
    margin: 20px;

}


.game-title {
  display: table;
  max-width: 150px;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}

.infobox {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #455B64;
    padding: 20px;
    margin: 0 auto; 
    width: 650px;
}

.line {
    background: #455B64;
    border: 0;
    height: 4px;
}

.longline {
    margin-top: -18px;
    width: 500px;
}

.shortline {
    margin-top: -10px;
    float: left;
    width: 150px;
}

#logo {
    position: absolute;
    float: left;
    padding-left: 75px;
    margin-top: 2px;
}

#stats canvas {
    display: inline-block !important;
    max-height: 600px !important;
    max-width: 500px !important;
}

#heading h1 {
    text-align: center;
}


#searchbar {
    margin-top: 20px;
    margin-bottom: 40px;
}

#searchbar input {
    width: 600px;
    height: 30px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
}

nav#menu {
    width: 100%;
    font-size: 1em;
    text-align: center;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #455B64;
}

#menu li {
    display: inline-block;
}

#menu li:hover {
    background-color: #546F7A;
    cursor: pointer;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 20px 30px;
    text-decoration: none;
}

#menu li:first-child:hover {
    background-color: transparent;
}

#menu li:first-child a {
    margin: 5px 30px;
}

footer {
    background-color: #2B303A;
    height: 50px;
    text-align: center;
    padding-top: 5px;
}
